# Pandas

While **numpy** deals only with homogeneous data types ( all numbers or all floats ), **_Pandas_** is heterogenous in dealing with data. Think of Pandas as a library that can deal with manipulating heterogenous data grids ( pretty much like excel )

## Table of Contents

- ### [Introduction](#Introduction)
 - #### [What is Pandas ](#What-is-Pandas)
 - #### [Why learn Pandas](#Why-learn-Pandas)
 - #### [Our approach to Pandas](#Our-approach-to-Pandas)
- ### [Getting Started](#Getting-Started)
 - #### [Installing Pandas](#Installing-Pandas)
- ### [Dataframes](#Dataframes)
 - #### [Create Dataframe](#Create-Dataframe)
   - ##### [From List or Dictionary](#From-List-or-Dictionary)
   - ##### [From an Empty Dataframe](#From-an-Empty-Dataframe)
   - ##### [From Files](#From-Files)
 - #### [Display Dataframe](#Display-Dataframe)
 - #### [Selecting Data from Dataframe](#Selecting-Data-from-Dataframe)

## Introduction

Most data is heterogenous and tabular in nature. For example, look at the following data which shows some stats from google play store. There is text, numbers, floats etc.

<img src="./pics/google_play_store_data.png"/>

_numpy_ is not suited to manipulate this kind of data. For that we need **Pandas**

### What is Pandas

Pandas is pretty much like a data manipulation tool ( think data munging, wrangling, preparation etc ) on a grid of data ( text, numbers, floats etc ). For example, if you look at the data grid above, and say you want to

_Filter_
- a particular category ( say only ART_AND_DESIGN ) 
- or all rows with Rating > 4.1  
- or all rows where the category is ART_AND_DESIGN and rating > 4.1 


_Collapse or Group by_
- and find how many rows are there in a particular category 
- or find how many rows are there with Rating > 4.1
- or a combination of both

_Read_
- data from different formats ( excel, csv, SQL databases etc )

_Handle_
- missing data ( like NAs, blanks etc )
- erroneous data ( data that does not comply with the data type of the column ) etc

_Manipulate_
- combine data from different sources into one
- or split data into a set of rows or columns or both
- or extract a sub-set of data into another data frame ( say create a new data set only for category ART_AND_DESIGN)
- or slice the dataset based on a variety of parameters
- or insert/delete columns or rows from/to to the dataset 
 - Like add a new app category or delete the rating column

Think of **Pandas** as _Excel_ on Steroids.

### Why learn Pandas

In the context of Machine Learning and Python, **Pandas** is the gold standard in in-memory data management ( read or manipulate ). Written in C or Cython, Pandas is as fast as any C library in manipulating data. It is not uncommon for Pandas to comfortably handle large data sets ( around 5 to 10 GB ) without a hitch.

### Our approach to Pandas

We will be using Pandas quite extensively in this Machine Learning course. However, we will cover most of the essential aspects of Pandas in this chapter and leave the more complicated options to later chapters where we would be  encountering situations that would lead us to explore them. For now, we will keep it pretty simple and to small test datasets.

## Getting Started

### Installing Pandas

- pip

<pre>
    > pip install pandas
</pre>

If you are using Anaconda distribution, pandas is installed by default - you just have to enable it ( if necessary ). If you are just using the _conda_ package manager for Python, 
- conda

<pre>
    > conda install pandas
</pre>

You can verify if _Pandas_ is already installed on your python installation using the Python console.
<pre>
    >>> help("pandas")
</pre>
If it is installed, you will get a help message on Pandas.

## Dataframes

A **_Data Frame_** is the main data structure in pandas. Think of a data frame as an excel grid. You can create, add, delete, filter data very easily in pandas. For starters, let's see how easy it is to create a data set.

### Create Dataframe

#### From List or Dictionary

In [2]:
import pandas as pd

names        = ["India","United States","Canada"]
population_m = [1500,300,36]

d = {"names" :names , "population" : population_m}

df = pd.DataFrame(d)
df

           names  population
0          India        1500
1  United States         300
2         Canada          36

#### From an Empty Dataframe

You can create an empty data frame and start adding columns one by one.

In [11]:
df = pd.DataFrame()
df["names"]      = names
df["population"] = population_m
df

           names  population
0          India        1500
1  United States         300
2         Canada          36

#### From Files

In [9]:
df = pd.read_csv("../data/apple_df.csv")
df

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,1980-12-12,28.750,28.870,28.7500,28.750,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1,1980-12-15,27.380,27.380,27.2500,27.250,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
2,1980-12-16,25.370,25.370,25.2500,25.250,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
3,1980-12-17,25.870,26.000,25.8700,25.870,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
4,1980-12-18,26.630,26.750,26.6300,26.630,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0
5,1980-12-19,28.250,28.380,28.2500,28.250,217100.0,0.0,1.0,0.415355,0.417266,0.415355,0.415355,12157600.0
6,1980-12-22,29.630,29.750,29.6300,29.630,166800.0,0.0,1.0,0.435644,0.437409,0.435644,0.435644,9340800.0
7,1980-12-23,30.880,31.000,30.8800,30.880,209600.0,0.0,1.0,0.454023,0.455787,0.454023,0.454023,11737600.0
8,1980-12-24,32.500,32.630,32.5000,32.500,214300.0,0.0,1.0,0.477841,0.479753,0.477841,0.477841,12000800.0
9,1980-12-26,35.500,35.620,35.5000,35.500,248100.0,0.0,1.0,0.521950,0.523714,0.521950,0.521950,13893600.0
10,1980-12-29,36.000,36.130,36.0000,36.000,415900.0,0.0,1.0,0.529301,0.531213,0.529301,0.529301,23290400.0
11,1980-12-30,35.250,35.250,35.1200,35.120,307500.0,0.0,1.0,0.518274,0.518274,0.516363,0.516363,17220000.0
12,1980-12-31,34.250,34.250,34.1300,34.130,159600.0,0.0,1.0,0.503571,0.503571,0.501807,0.501807,8937600.0
13,1981-01-02,34.500,34.750,34.5000,34.500,96700.0,0.0,1.0,0.507247,0.510923,0.507247,0.507247,5415200.0
14,1981-01-05,33.870,33.870,33.7500,33.750,159500.0,0.0,1.0,0.497984,0.497984,0.496220,0.496220,8932000.0
15,1981-01-06,32.370,32.370,32.2500,32.250,201600.0,0.0,1.0,0.475930,0.475930,0.474166,0.474166,11289600.0
16,1981-01-07,31.000,31.000,30.8800,30.880,248600.0,0.0,1.0,0.455787,0.455787,0.454023,0.454023,13921600.0
17,1981-01-08,30.370,30.370,30.2500,30.250,177800.0,0.0,1.0,0.446524,0.446524,0.444760,0.444760,9956800.0
18,1981-01-09,31.880,32.000,31.8800,31.880,96000.0,0.0,1.0,0.468726,0.470490,0.468726,0.468726,5376000.0
19,1981-01-12,31.880,31.880,31.6200,31.620,105800.0,0.0,1.0,0.468726,0.468726,0.464903,0.464903,5924800.0
20,1981-01-13,30.630,30.630,30.5000,30.500,102900.0,0.0,1.0,0.450347,0.450347,0.448436,0.448436,5762400.0
21,1981-01-14,30.630,30.750,30.6300,30.630,63800.0,0.0,1.0,0.450347,0.452112,0.450347,0.450347,3572800.0
22,1981-01-15,31.250,31.500,31.2500,31.250,62800.0,0.0,1.0,0.459463,0.463139,0.459463,0.459463,3516800.0
23,1981-01-16,31.120,31.120,31.0000,31.000,59800.0,0.0,1.0,0.457552,0.457552,0.455787,0.455787,3348800.0
24,1981-01-19,32.870,33.000,32.8700,32.870,185600.0,0.0,1.0,0.483282,0.485193,0.483282,0.483282,10393600.0
25,1981-01-20,32.000,32.000,31.8800,31.880,134300.0,0.0,1.0,0.470490,0.470490,0.468726,0.468726,7520800.0
26,1981-01-21,32.500,32.750,32.5000,32.500,71000.0,0.0,1.0,0.477841,0.481517,0.477841,0.477841,3976000.0
27,1981-01-22,32.870,33.130,32.8700,32.870,158700.0,0.0,1.0,0.483282,0.487104,0.483282,0.483282,8887200.0
28,1981-01-23,32.870,33.000,32.7500,32.750,50100.0,0.0,1.0,0.483282,0.485193,0.481517,0.481517,2805600.0
29,1981-01-26,32.370,32.370,32.2500,32.250,110000.0,0.0,1.0,0.475930,0.475930,0.474166,0.474166,6160000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9370,2018-02-13,161.950,164.750,161.6500,164.340,32104756.0,0.0,1.0,161.950000,164.750000,161.650000,164.340000,32104756.0
9371,2018-02-14,163.045,167.540,162.8800,167.370,39669178.0,0.0,1.0,163.045000,167.540000,162.880000,167.370000,39669178.0
9372,2018-02-15,169.790,173.090,169.0000,172.990,50609595.0,0.0,1.0,169.790000,173.090000,169.000000,172.990000,50609595.0
9373,2018-02-16,172.360,174.820,171.7700,172.430,39638793.0,0.0,1.0,172.360000,174.820000,171.770000,172.430000,39638793.0
9374,2018-02-20,172.050,174.260,171.4200,171.850,33531012.0,0.0,1.0,172.050000,174.260000,171.420000,171.850000,33531012.0
9375,2018-02-21,172.830,174.120,171.0100,171.070,35833514.0,0.0,1.0,172.830000,174.120000,171.010000,171.070000,35833514.0
9376,2018-02-22,171.800,173.950,171.7100,172.600,30504116.0,0.0,1.0,171.800000,173.950000,171.710000,172.600000,30504116.0
9377,2018-02-23,173.670,175.650,173.5400,175.555,33329232.0,0.0,1.0,173.670000,175.650000,173.540000,175.555000,33329232.0
9378,2018-02-26,176.350,179.390,176.2100,178.970,36886432.0,0.0,1.0,176.350000,179.390000,176.210000,178.970000,36886432.0
9379,2018-02-27,179.100,180.480,178.1600,178.390,38685165.0,0.0,1.0,179.100000,180.480000,178.160000,178.390000,38685165.0
9380,2018-02-28,179.260,180.615,178.0500,178.120,33604574.0,0.0,1.0,179.260000,180.615000,178.050000,178.120000,33604574.0
9381,2018-03-01,178.540,179.775,172.6600,175.000,48801970.0,0.0,1.0,178.540000,179.775000,172.660000,175.000000,48801970.0
9382,2018-03-02,172.800,176.300,172.4500,176.210,38453950.0,0.0,1.0,172.800000,176.300000,172.450000,176.210000,38453950.0
9383,2018-03-05,175.210,177.740,174.5200,176.820,28401366.0,0.0,1.0,175.210000,177.740000,174.520000,176.820000,28401366.0
9384,2018-03-06,177.910,178.250,176.1300,176.670,23788506.0,0.0,1.0,177.910000,178.250000,176.130000,176.670000,23788506.0
9385,2018-03-07,174.940,175.850,174.2700,175.030,31703462.0,0.0,1.0,174.940000,175.850000,174.270000,175.030000,31703462.0
9386,2018-03-08,175.480,177.120,175.0700,176.940,23163767.0,0.0,1.0,175.480000,177.120000,175.070000,176.940000,23163767.0
9387,2018-03-09,177.960,180.000,177.3900,179.980,31385134.0,0.0,1.0,177.960000,180.000000,177.390000,179.980000,31385134.0
9388,2018-03-12,180.290,182.390,180.2100,181.720,32055405.0,0.0,1.0,180.290000,182.390000,180.210000,181.720000,32055405.0
9389,2018-03-13,182.590,183.500,179.2400,179.970,31168404.0,0.0,1.0,182.590000,183.500000,179.240000,179.970000,31168404.0
9390,2018-03-14,180.320,180.520,177.8100,178.440,29075469.0,0.0,1.0,180.320000,180.520000,177.810000,178.440000,29075469.0
9391,2018-03-15,178.500,180.240,178.0701,178.650,22584565.0,0.0,1.0,178.500000,180.240000,178.070100,178.650000,22584565.0
9392,2018-03-16,178.650,179.120,177.6200,178.020,36836456.0,0.0,1.0,178.650000,179.120000,177.620000,178.020000,36836456.0
9393,2018-03-19,177.320,177.470,173.6600,175.300,32804695.0,0.0,1.0,177.320000,177.470000,173.660000,175.300000,32804695.0
9394,2018-03-20,175.240,176.800,174.9400,175.240,19314039.0,0.0,1.0,175.240000,176.800000,174.940000,175.240000,19314039.0
9395,2018-03-21,175.040,175.090,171.2600,171.270,35247358.0,0.0,1.0,175.040000,175.090000,171.260000,171.270000,35247358.0
9396,2018-03-22,170.000,172.680,168.6000,168.845,41051076.0,0.0,1.0,170.000000,172.680000,168.600000,168.845000,41051076.0
9397,2018-03-23,168.390,169.920,164.9400,164.940,40248954.0,0.0,1.0,168.390000,169.920000,164.940000,164.940000,40248954.0
9398,2018-03-26,168.070,173.100,166.4400,172.770,36272617.0,0.0,1.0,168.070000,173.100000,166.440000,172.770000,36272617.0
9399,2018-03-27,173.680,175.150,166.9200,168.340,38962839.0,0.0,1.0,173.680000,175.150000,166.920000,168.340000,38962839.0

### Display Dataframe

Once you read a dataframe, typically, you would want to examine it. We typically want to just see the first few rows or the last few rows. For that, you use the **head ( )** or **tail ( )** functions

In [10]:
df.head() # Shows the first few rows by default.

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1,1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
2,1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
3,1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
4,1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0

In [12]:
df.tail() # Shows the last few rows by default.

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
9395,2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.04,175.09,171.26,171.270,35247358.0
9396,2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.00,172.68,168.60,168.845,41051076.0
9397,2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.39,169.92,164.94,164.940,40248954.0
9398,2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.07,173.10,166.44,172.770,36272617.0
9399,2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.68,175.15,166.92,168.340,38962839.0

In [15]:
df.head(10)  # You can very well ask for a specific number of rows to be displayed.

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1,1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
2,1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
3,1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
4,1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0
5,1980-12-19,28.25,28.38,28.25,28.25,217100.0,0.0,1.0,0.415355,0.417266,0.415355,0.415355,12157600.0
6,1980-12-22,29.63,29.75,29.63,29.63,166800.0,0.0,1.0,0.435644,0.437409,0.435644,0.435644,9340800.0
7,1980-12-23,30.88,31.00,30.88,30.88,209600.0,0.0,1.0,0.454023,0.455787,0.454023,0.454023,11737600.0
8,1980-12-24,32.50,32.63,32.50,32.50,214300.0,0.0,1.0,0.477841,0.479753,0.477841,0.477841,12000800.0
9,1980-12-26,35.50,35.62,35.50,35.50,248100.0,0.0,1.0,0.521950,0.523714,0.521950,0.521950,13893600.0

### Selecting Data from Dataframe

Selecting Data from Dataframes is also called **indexing** - because we use some form of indices. Let's see that with an example.

In [ ]:
import pandas as pd

names        = ["India","United States","Canada"]
population_m = [1500,300,36]

d = {"names" :names , "population" : population_m}

df = pd.DataFrame(d)
df